@charset "UTF-8";
header {
    display: flex;
    justify-content: space-between;
    .left {
        display: flex;
        margin-left: 21px;
    }
}

.menu {
    li:hover{
        background-color:#dbedf0;          
       }
    li:hover ul{
        display: block;
        transition: 2s;
    }
    li{
        height:           2rem;
        padding:          20px 10px;
        background-color: white;
        list-style:       none;
        width:            125px;
        font-weight:      bold;
        list-style-type:  none;
        display:          inline-block;
        position:         relative;
    ul{
        display: none;
        margin: 0 ;
        padding:0 ;
        position: absolute;
        li{
            a{
                background-color: #dbedf0;
                line-height:70px;
                width:200%;
                text-align: left;
                text-decoration: none;
                display: block;
                padding-left:10px ;
            }
        }
    }
    }
    ul li a:hover{
        background-color: white;
        color: #00aaff;
        text-decoration:underline;
    }
}